doctype html
html(lang="en")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 AIMSQUANT
      p
        strong Hi #{firstName} #{lastName},
        br
        |Thank you for signing up to use AIMSQUANT financial platform.
      p
        Please click the link below to activate your account.
        br
        a(href='#{url}') activate user
      p
        The Mystique Team
        br
        a(href='https://aimsquant.com') Aimsquant.com
