doctype html
html(lang="en")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 AIMSQUANT
      p
        strong Hi #{firstName} #{lastName},
      p
        Please click below to reset your password.
        br
        a(href='#{url}') reset password
      p
        The Aimsquant Team
        br
        a(href='https://aimsquant.com') Aimsquant.com